### Week 1

This week we will cover Python basics. Some of the concepts we will go over are:
<ul>
    <li>intro to data types</li>
    <li>variables</li>
    <li>accessing elements</li>
    <li>for loops</li>
    <li>conditionals</li>
    <li>functions</li>
</ul>

### __Hello World!__
strings, numbers, lists, dictionaries

In [5]:
# easiest way to see an output immediately
print('My neck hurts')

My neck hurts

In [6]:
# strings
print("I slept wrong")
print(type("Hello!"))

I slept wrong
<class 'str'>

In [3]:
print('Bye!')
print(type('Bye!'))

Bye!
<class 'str'>

In [8]:
print("and he said, 'maybe we should grab something to eat!'")

and he said, 'maybe we should grab something to eat!'

In [5]:
print('and he said, "maybe we should grab something to eat!"')

and he said, "maybe we should grab something to eat!"

In [3]:
# block strings
print(type('''
Hi everyone!

new line
Welcome to Quauntum Computing!
'''))
print("""
Hi everyone!

Welcome to Quauntum Computing!
""")

<class 'str'>

Hi everyone!

Welcome to Quauntum Computing!

In [19]:
# numbers
print(7)
print(7.123)
print(type(7))
print(type(7.5))

7
7.123
<class 'int'>
<class 'float'>

In [22]:
# lists 
print([1, 2, 3, 4])
print(type([1,2,3]))

[1, 2, 3, 4]
<class 'list'>

In [25]:
# lists with mixed type
print([1, 'tomato', 3, 'figs'])
print(type([1, 'grilled cheese', 3, 'figs']))

[1, 'tomato', 3, 'figs']
<class 'list'>

In [10]:
print(['Sven', 'Valerie', 'Joseph', 'Anastasia'])
print(type(['Sven', 'Valerie', 'Joseph', 'Anastasia']))

['Sven', 'Valerie', 'Joseph', 'Anastasia']
<class 'list'>

In [11]:
# dictionaries
print({"name":"Sven", "role":"Instructor"})
print(type({"name":"Sven", "role":"Instructor"}))

{'name': 'Sven', 'role': 'Instructor'}
<class 'dict'>

In [12]:
# dictionaries with mixed type
print({1:"apple", 2:['pancakes', 'cereal'], "number": 100})
print(type({1:"apple", 2:['pancakes', 'cereal'], "number": 100}))

{1: 'apple', 2: ['pancakes', 'cereal'], 'number': 100}
<class 'dict'>

### __Variable Declaration__

In [4]:
# python doesn't have a command for declaring variables
greeting = 200
print(greeting)
print(type(greeting))
print(200)

200
<class 'int'>
200

In [32]:
greeting = "red"
print(greeting)
print(type(greeting))

red
<class 'str'>

In [10]:
number = "20", "30"
print(number)

('20', '30')

In [21]:
my_list = "hello", "bye", 1
print(my_list)

('hello', 'bye', 1)

In [17]:
my_dict = {"name":"Sven", "role":"Instructor"}
print(my_dict)

{'name': 'Sven', 'role': 'Instructor'}

### __Errors__

In [22]:
number = 20
print(number)

20

### __Accessing Elements__

Strings

In [24]:
# accessing elements in a string
my_string = "Goodbye, friends"
print(my_string)

Goodbye, friends

In [25]:
print(my_string[7])

,

In [26]:
print(my_string[-2])

d

In [27]:
print(my_string[2])
print(my_string[2])
print(my_string[2:4])

o
o
od

In [28]:
print(my_string[:-2])

Goodbye, frien

Tuple

In [100]:
# Tuples are used to store multiple items in a single variable.


tuple1 = "apple", "banana"
tuple2 = ("cherry","dragonfruit")

print(type(tuple1))
print(type(tuple2))

<class 'tuple'>
<class 'tuple'>

Lists

In [34]:
# accessing elements in a list
my_list = ['apple', 'orange', 100, 13]
print(my_list)

['apple', 'orange', 100, 13]

In [44]:
# accessing a list element
print(my_list[0])

# accessing a string element within a list
print(my_list[0][3])

apple
l

In [36]:
print(my_list[3])

13

In [37]:
print(my_list[-1])

13

In [38]:
print(my_list[:-2])

['apple', 'orange']

In [39]:
print(my_list[2:])

[100, 13]

Dictionaries

In [40]:
# accessing elements in a dictionary
my_dict = {'name': ['Nancy','Sven'], 'chicken': 'Popeyes', 1: [2, 3, 4]}
print(my_dict)

{'name': ['Nancy', 'Sven'], 'chicken': 'Popeyes', 1: [2, 3, 4]}

In [41]:
print(my_dict['chicken'])

Popeyes

In [42]:
print(my_dict['name'])

['Nancy', 'Sven']

In [74]:
print(my_dict['name'][0])

Nancy

In [75]:
# accessing just the keys
print(my_dict.keys())

dict_keys(['name', 'chicken', 1])

In [76]:
print(my_dict.values())

dict_values([['Nancy', 'Sven'], 'Popeyes', [2, 3, 4]])

In [77]:
print(my_dict.items())

dict_items([('name', ['Nancy', 'Sven']), ('chicken', 'Popeyes'), (1, [2, 3, 4])])

## __String Interpolation__

sdfjkdsjflskjflj

In [52]:
# sfjdksfjdkj
# hi!!
number = 15
print(f'Hello, there are {number} of us in class!')

# f-string allows the variable inside the string be replaced with its value

print('Hello, there are {number} of us in class!')

Hello, there are 15 of us in class!
Hello, there are {number} of us in class!

In [53]:
print(f'Hello, there are of {number} us in class!')

Hello, there are of 15 us in class!

In [54]:
print("Hello, there are %d of us in class!" %(number))

Hello, there are 15 of us in class!

In [57]:
# older, kinda outdated way

sdf = 'students'
sfe = 'tonight'
print("Hi, there are %d of us %s in class %s" %(number, sdf, sfe))

Hi, there are 15 of us students in class tonight

In [58]:
#current common way of string interpolation

print("Hello, there are {} of us in class!".format(number))

Hello, there are 15 of us in class!

In [59]:
print("Hello, there are {} of us in class!".format(number))

Hello, there are 15 of us in class!

### __Operators__

In [60]:
# add
print(5 + 7)

12

In [61]:
# subtract
print(12 - 8)

4

In [62]:
# multiply
print(10123 * 73)

738979

In [63]:
# divide
print(123456 / 42)

2939.4285714285716

In [64]:
# modulo / modulus
print(100 % 3)

1

In [65]:
# add to self
x = 2
x += 8
print(x)

10

In [66]:
# subtract from self
x = 4
x -= 3
print(x)

1

In [67]:
# multiply from self
x = 5
x *= 3
print(x)

15

In [69]:
# divide from self
x = 21
x /= 3
print(x)

7.0

### For Loops

In [101]:
grocery_list = ['apples', 'salsa','chips','eggs']

grocery_list = ['apples', 
                'salsa',
                'chips',
                'eggs']

In [102]:
print(grocery_list[0])
print(grocery_list[1])
print(grocery_list[2])
print(grocery_list[3])

apples
salsa
chips
eggs

In [103]:
for item in grocery_list:
    print(item)

print(item)

apples
salsa
chips
eggs
eggs

In [104]:
for item in grocery_list:
    print(item)

apples
salsa
chips
eggs

In [111]:
student_id ={'name': 'Sohee', 'age': 27, 'favorites': []}

for x in student_id.keys():
    print(x)

name
age
favorites

In [112]:
for value in student_id.values():
    print(value)

Sohee
27
[]

In [113]:
for items in student_id.items():
    print(items)

('name', 'Sohee')
('age', 27)
('favorites', [])

### Booleans & Conditionals

#### booleans

In [114]:
# == is for comparing values, = is for assigning values
x = 5
print (x == 5)

True

In [115]:
#! is used as negation
x = 4
print(x != 5)

True

In [116]:
x = 5
print(x > 3 and x < 8)

True

In [120]:
x = 5
print(x > 8 or x < 2)

False

In [121]:
x = 5
print (x <= 6)

True

#### if else statements

In [134]:
x = False
# if x is false
if x != True: 
    print("condition met")
# if x is not false    
else:
    print("condition not met")

condition met

In [135]:
x = False
# if x is not false
if not x: 
    print("condition met")
# if x is false    
else:
    print("condition not met")

condition met

In [136]:
name = 'yina'
if name == 'josh':
    print ('hi ' + name)
else:
    print ('not ' + name)

not yina

In [130]:
# single operation
x=5
y=3
operator="/"

if operator == "*":
    print (x*y)
else:
    print ("try again")

try again

In [143]:
# use elif statements to include all possible operations
x=5
y=3
operator="-"

if operator == "*":
    print (x*y)
elif operator == "+":
    print (x+y)
elif operator == "-":
    print (x-y)
elif operator == "/":
    print (x/y)
else:
    print ("try again")

2

In [145]:
# wrong input method

x = input("enter first number")
y = input("enter second number")
operator = input("enter the operator")

if operator == "*":
    print (x*y)
elif operator == "+":
    print (x+y)
elif operator == "-":
    print (x-y)
elif operator == "/":
    print (x/y)
else:
    print ("try again")

enter first number7
enter second number9
enter the operator+
79

In [146]:
#adding user input

x = int(input("enter first number"))
y = int(input("enter second number"))
operator = input("enter the operator")
if operator == "*":
    print (x*y)
elif operator == "+":
    print (x+y)
elif operator == "-":
    print (x-y)
elif operator == "/":
    print (x/y)
else:
    print ("try again")

enter first number9
enter second number7
enter the operator-
2

In [147]:
x = 10 
y = 20

if x < y:
    print("x is less than y")
else: 
    print("x is greater than y ")

x is less than y

In [148]:
if 1 < 2 and 4 > 2:
    print("condition met")

if 4 < 10 or 1 > 2:
    print("condition met")

condition met
condition met

#### multiple conditions!

In [151]:
# will evaluate first condition that equals to true
x = 10

if x < 20:
    print("x is smaller than 20.")
elif x > 32:
    print("x is bigger than 32.")
elif x == 10:
    print("x is 10!")
else:
    print("we don't know what x is")

x is smaller than 20.

#### nested if statements

In [152]:
x = 41

if x > 10:
  print("X is above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

X is above ten,
and also above 20!

### Functions

In [153]:
def greeting():
    print('Hello World!')

In [154]:
def hello():
    print("Hello World?")

In [155]:
greeting()
greeting()
greeting()
greeting()
greeting()
hello()

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World?

#### nested functions

In [156]:
def greetings_again():
    print('Hello World!!!')
    hello()

In [157]:
greetings_again()

Hello World!!!
Hello World?

#### for loops & function

In [159]:
for x in range(15):
    greeting()

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

#### conditionals & functions

In [160]:
def shutdown():
    # takes user input and stores it in a variable called user_input
    user_input = input('Would you like to shutdown this notebook? y/n: ')
    
    # based on the user input, it will evaluate the below conditional:
    if user_input == 'y':
        print("Shutting this notebook down in 3, 2, 1...")
    else:
        print("Okay, will not shutdown!")
    
    # we nested our function within itself! this function will run over and over again
    shutdown()

In [ ]:
shutdown()

Would you like to shutdown this notebook? y/n: y
Shutting this notebook down in 3, 2, 1...
Would you like to shutdown this notebook? y/n: n
Okay, will not shutdown!